<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- 🔥 NAVBAR -->
<div class="navbar">
    <h3>AI Resume Analyzer </h3>
    <div>
        <a href="/dashboard">Dashboard</a>

        {% if role == 'user' %}
        <a href="/upload">Upload</a>
        {% endif %}

        {% if role == 'admin' %}
        <a href="/admin">Admin Panel</a>
        {% endif %}

        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/logout">Logout</a>
        <a href="/history">History</a>
    </div>
</div>

<!-- 🔥 MAIN CONTENT -->
<div class="container">
    <h2>Welcome {{ user }} </h2>
    <p>Your AI Resume Analyzer Dashboard</p>

    {% if role == 'user' %}
    <div class="card">
        <h3>📄 Upload Resume</h3>
        <p>Analyze your resume and get ATS score</p>
        <a href="/upload">
            <button>Go to Upload</button>
        </a>
    </div>
    {% endif %}

    {% if role == 'admin' %}
    <div class="card">
        <h3>⚙️ Admin Panel</h3>
        <p>Manage users and view analytics</p>
        <a href="/admin">
            <button>Go to Admin Panel</button>
        </a>
    </div>
    {% endif %}
</div>

</body>
</html>